.header {
	form {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&-price-order {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-align-items: center;
		gap: 10px;
	}
	&-cart {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-align-items: center;
	}
}
